body {
    background:#184352
}

.wrap {
    top:0;
    left:0;
    height:auto;
    width:100%;
}

.menu-container {
    top:0;
    left:0;
    /*to the top edge of the screen*/
    position:absolute;
    width:100%;
    background-color:#184352;
}

.menu {
    font:bold 12px/18px sans-serif;
    text-align:center;
    display:inline;
    margin:0;
    padding:0;
    list-style:none;
}

.menu li {
    color: #b3b3b3;
    display:inline-block;
    margin-right:-2px;
    position:relative;
    padding:12px 40px;
    border: 1px solid #9D9FA2;
    background-color:#387593;
    cursor:pointer;
}

.menu li:hover{
    background-color: #5eaefd;
    color:#fff;
}

.menu li:hover ul{
    display:block;
    opacity:1;
    /*while hovered drop-menu appears.
    Also avoids a block-leel bug*/
    visibility: visible;
}

.submenu li{
    background-color:#387593;
    display:block;
    color:#b3b3b3;
}

.submenu li:hover{
    color:#fff;
    background-color:#5eaefd;
}