body {
	font-family: 'Times New Roman', Times, serif;
	width: 700px;
	font-size: large;
	font-style: bold;
	text-align: center;
	margin: 0 auto;
	border: 2px;
	border-radius: 8px;
	text-shadow: 1px 1px black;
}

input {
	width: auto;
	margin: 8px;
	border: 2px;
	border-radius: 8px;
}